.tooltips table {border: none; text-align: left; font-size: 12px; line-height: 16px;}

.tooltips table thead {
  font-family: 'AvenirLTStd-Heavy',sans-serif;
}
.tooltips table th {padding-bottom: 12px;}
.tooltips table td {padding-bottom: 7px}

.tooltips table tbody tr td:first-child {font-size: 8px; line-height: 16px; text-transform: uppercase}
.tooltips table tr td:last-child {text-align: right;}


svg rect {stroke-width: 0; stroke-opacity: .5}
svg rect:hover {
  stroke-width: 7;
}