.arc path {stroke-width: 0; stroke-opacity: .5}
  .arc path:hover {stroke-width: 7}

.donut-tooltip {margin: 0; padding: 0}
.donut-tooltip table td {vertical-align: middle;}
.donut-tooltip h5 {margin: 10px 0 0 !important; text-transform: none; font-size: 12px;}
.donut-tooltip p {margin: 0 0 5px; padding: 0; color: #FFF; text-transform: none; font-size: 10px;}
.donut-tooltip span.percent {padding: 5px 10px 0 25px; display: block; font-size: 20px;}