.horizontal-bar-chart {margin: 30px 0 25px;}
  .horizontal-bar-chart .axisLeft text {font-size: 12px; text-anchor: start}


  .horizontal-bar-chart .main-holder {
    overflow: visible; position: relative;
    margin: 0 0 60px;
  }

  rect.bar {stroke-width: 0; stroke-opacity: .5}
    rect.bar:hover {stroke-width: 7}