.funnel-deals-table {margin: 10px 0 0}
.funnel-deals-table th, .funnel-deals-table td {font-size: 10px; line-height: 12px}
.funnel-deals-table th {
  padding: 0 15px 0 0;
  font-family: 'AvenirLTStd-Heavy', sans-serif;
}
.funnel-deals-table td {
  font-family: 'AvenirLTStd-Roman', sans-serif; 
}

.funnel-info-cell {
  position: absolute; 
  padding: 0 15px;
  box-sizing: border-box;
  }
  .funnel-info-cell p {color: #7F8FA4; font-size: 12px; line-height: 25px; margin: 0}
  .funnel-info-cell p small {display: block; font-size: 10px; line-height: 18px; color: #ffffff;}
  .funnel-info-cell p strong {display: block; padding: 7.5px 0; font-size: 14px; font-family: 'AvenirLTStd-Heavy', sans-serif; color: #ffffff;}