.pna-rows {
  transition: box-shadow 400ms ease-in;
  position: relative;
}
.pna-rows:hover {
  box-shadow: 0 2px 5px 5px rgba(127,143,164,0.1);
  }
  .pna-rows.hovered td:not(.more-vert-cell) {background-color: white !important;}
    .pna-rows.hovered td.more-vert-cell {background-color: transparent !important;}
  .pna-rows.hovered.selected td {background-color: rgb(224, 224, 224) !important;}
  .head-row.hovered td {background-color: #273142 !important;}

/*avatar */
  .pna-rows .avatarItem {position: relative; z-index: 1;}
    .pna-rows .avatarItem::before {
      content: '';
      position: absolute; top: 28px; left: 25px; z-index: 1;
      width: 18px; height: 18px; background: #DDE1E7;
      }
      .pna-rows.selectable .avatarItem::before {display: none;}
      .contacts-table .pna-rows .avatarItem .avatar-tag:hover {opacity: 0;}
    
  .pna-rows .avatar-tag {
    position: relative; z-index: 3;
    cursor: pointer;
    font-family: Roboto, Helvetica, sans-serif !important;
    transition: all 300ms ease-in; top: 18px !important;
    }
    .pna-rows.selectable .avatar-tag {opacity: 0 !important; z-index: -1; position: absolute;}
  /*.pna-rows */
  .pna-rows.selectable {}
    .pna-rows.selectable tr {position: relative; z-index: 2}
    .pna-rows.selectable td:first-child,
    .head-row.selectable td:first-child{padding-left: 0 !important; padding-right: 0 !important; width: 0 !important; overflow: visible !important;}
      .pna-rows.selectable td input[type="checkbox"] + div {
        position: absolute; left: 75px; top: -12px; z-index: 55;
      }


.head-row {background: #273142; color: #7F8FA4; line-height: 26px; letter-spacing: 1px;}
  .head-row td input + div {display: none !important;}

.filter-drawer {
  color: #fff;
  font-family: 'Avenir LT 55 Roman', sans-serif;
  box-sizing: border-box;
}
  .filter-drawer h4 {
    margin-bottom: 65px;
    font-weight: normal; font-family: 'Avenir LT 55 Roman', sans-serif;
    text-transform: uppercase; color: #7F8FA4;
  }
  .filter-drawer h5 {
    font-size: 0.83em;
    color: #fff; font-family: 'Avenir LT 55 Roman', sans-serif; font-weight: normal;
  }
  .filter-drawer .widget {
    margin-bottom: 60px;
  }
.contacts-listing-wrapper {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*opportunities */
.other-opportunities h5 {margin: 0;}
.other-opportunities h6 {margin: 0 0 15px; color: gray;}
.opportunities-trigger {font-size: 10px;}
.opportunities .secondary-text {font-size: 12px !important; color: rgba(0, 0, 0, 0.87) !important;}

.rounded-expandable {
  line-height: 30px !important;
  border: 1px solid #BFCCDC !important;
  border-radius: 30px !important;
  width: auto !important; min-width: 30px !important;
  height: 30px !important;
  }
.pna-rows .rounded-expandable {border-color: rgba(0, 0, 0, 0.87) !important; background: none !important;}
.pna-rows .rounded-expandable:hover {border-color: #1875F0 !important;}
  .rounded-expandable svg {margin: -3px 0 0 !important;}
  .rounded-expandable svg + span {display: none}
  .pna-rows .rounded-expandable:hover svg {margin-left: 12px !important;}
  .pna-rows .rounded-expandable:hover svg + span {display: initial}

/*Timeline last activity  */
.timeline-activity {
  padding: 16px 16px 10px 40px;
  position: relative; z-index: 2;
  max-width: 250px;
  }
  .timeline-activity h4 {margin: 0 0 6px; font-weight: 900; font-size: 10px;}
  .timeline-activity h4 time {margin-left: 20px; color: #7F8FA4; font-weight: 100}
  .timeline-activity i.icon {
    position: absolute; left: 13px; top: 10px; z-index: 3;
  }
  .timeline-activity p {font-size: 10px; letter-spacing: 0; font-weight: 100; line-height: 15px;}
  .timeline-cell-data svg, .timeline-activity i.icon svg {width: 12px !important;}

  /*column options  */
  .columnOptCheckbox {font-size: 12px !important;}
    .columnOptCheckbox label {line-height: 30px !important; text-align: right !important; }
    .columnOptCheckbox label + div {width: 15px !important; height: 15px !important; right: -20px !important; left: auto !important; top: 8px; margin: 0 !important}
    .columnOptCheckbox svg {top: 0; left: 0}


  /* tags cell  */
  .more-horiz-circle {
    display: block;
    width: 18px; height: 18px;
    border: 0.5px solid #4F596A; border-radius: 50%;
    cursor: pointer;
  }
