.Main-Fab {
  transition: all 300ms ease;
}
.pna-speed-dial:not(.mobView) .Main-Fab:hover {
  transform: scale(1.3);
  box-shadow: 0px 5px 10px 0px rgba(251,223,48,.5) !important;
}
.pna-speed-dial.mobView .Main-Fab {transform: scale(1.3)}
.Main-Fab:active,
.isActive .Main-Fab,
.pna-speed-dial:not(.mobView) .isActive .Main-Fab:hover {
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px !important;
}
  .isActive .Main-Fab,
  .pna-speed-dial.mobView .isActive .Main-Fab,
  .pna-speed-dial:not(.mobView) .isActive .Main-Fab:hover {
    transform: scale(0.86);
  }
    .isActive .Main-Fab button,
    .pna-speed-dial:not(.mobView) .isActive .Main-Fab:hover button {
      background: #7F8FA4 !important;
    }

  .pna-speed-dial .tooltip-container .tooltip-content {
    padding: 4px 10px;
    border-radius: 20px; border-color: #222B3A;
    background-color: #222B3A;
    }
    .pna-speed-dial .tooltip-container .tooltip-content::before,
    .pna-speed-dial .tooltip-container .tooltip-content::after {display: none;}