body, html, #root, #root > div, .no-auth-wrap {height: 100%}
.no-auth-wrap {
  overflow: hidden; clear: both;
  background-position: top center; background-repeat: no-repeat; background-size: 100% auto;
}

.form-group {
  display: block; margin-bottom: 15px;
}

.pna-dialog p {
  margin-bottom: 25px;
  font-size: 14px; line-height: 24px; color: #222B3A;
}
form p.desc {font-size: 12px; font-family: 'AvenirLTStd-BookOblique'; color: #7F8FA4}
.pna-dialog a {color: #1875F0;}

footer, .divider-block {
  min-width: 100%;
  position: relative; left: -30px; right: -30px;
  padding: 30px;
  text-align: center;
}
.divider-block {padding: 0 30px; border-top: 1px solid #B2BBC6;}
.pna-dialog .divider-block p {margin-bottom: 0; color: #222B3A; font-weight: 400;}
  .pna-dialog .divider-block p a {font-size: 14px; text-decoration: underline;}

.pna-dialog footer {background: #232c3b; bottom: -30px;}
  .pna-dialog footer p {margin-bottom: 0; color: #7F8FA4; font-size: 12px; line-height: 19px;}

.clearfix {clear: both;}
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
@media (min-width: 768px) {
  .form-group.w-6 {width: 48%;}
  .form-group.w-2 {width: 22%}
  .form-group.w-8 {width: 76%}
  .form-group.pull-left {float: left}
  .form-group.pull-right {float: right}
}
  .form-group label {
    display: block; margin: 0 0 5px;
    font-size: 10px; color: #7F8FA4; line-height: 14px; letter-spacing: 1px; text-transform: uppercase;
  }
  .form-group label.inline-label {
    display: inline-block; 
    font-size: 12px; text-transform: none; letter-spacing: 0;
  }
  .form-group input:not([type=checkbox]):not([type=radio]):not([type=file]) {
    display: block; width: 100%;
    height: 37px; 
    padding: 0 14px; margin-bottom: 12px;
    font-size: 12px; color: #222B3A; line-height: 37px;
    border: 0.5px solid #7F8FA4; border-radius: 2px;
    box-sizing: border-box;
  }


  .date-of-birth > div > div {
    bottom: -2px !important;
    color: #7F8FA4 !important; font-size: 12px; font-family: "AvenirLTStd-Roman";
    letter-spacing: 0
  }
  .date-of-birth > div {width: 100% !important}

  .select-input {width: 100% !important; height: 37px !important; font-size: 12px !important;}
    .select-input div div { top: -4.5px !important; left: 13px;}

  /* repeater triggers */
  .add-trigger {color: #1875F0; font-size: 12px; line-height: 16px; cursor: pointer;}
  .add-icon {
    position: relative; z-index: 1;
    box-sizing: border-box;
    display: inline-block; vertical-align: middle; margin-right: 15px;
    height: 18px;
    width: 18px;
    border: 0.5px solid #4A90E2;
    border-radius: 50%;
    }
    .add-icon::before {
      content: '+';
      position: absolute; z-index: 2; top: 50%; left: 50%;
      margin-left: -3px; margin-top: -3px;
      font-size: 10px;
      width: 6px; height: 6px; line-height: 6px; 
      color: #222B3A;
      }
      .add-trigger:hover .add-icon {border-color: #7ED321;}
  .repeater-item {
    position: relative; z-index: 1;
    }
    .repeater-item input {padding-right: 30px;}
    .repeater-item .remove {
      position: absolute; right: 10px; top: 8px; z-index: 3;
      display: block; height: 18px; width: 18px;
      border: 0.5px solid #F25967;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0;
      transition: opacity 200ms ease-in;
    }
    .repeater-item .remove:before {
      content: "-";
      position: absolute; z-index: 2; top: 50%; right: 4.5px;
      margin-top: -4px;
      font-size: 10px;
      width: 6px; height: 6px; line-height: 6px; 
      color: #222B3A;
    }
    .repeater-item:hover .remove {opacity: 1}

  /*intro bar  */
  .intro-bar {
    padding: 50px;
    background: #273142; color: #fff;
  }
    .intro-bar h1 {
      margin-bottom: 30px;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 33px; font-weight: 300;
    }
    .intro-bar .gold-divider {
      display: block; margin-bottom: 20px;
      height: 1px;
      width: 66px;
      transform: scaleY(-1);
      background-color: #FBDF30;
    }
    .intro-bar p {
      height: 32px;
      width: 255px;
      color: #7F8FA4;
      font-size: 12px;
      line-height: 16px;
    }

  /*content-wrapper  */
  @media (min-width: 1080px) {
    .content-wrapper {
      width: 60%;
    }
  }


.im-type .imClientSelect > div div {
  top: -36px !important;
  height: 37px !important; line-height: 37px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7F8FA4; font-size: 12px; font-family: "AvenirLTStd-Roman";
}
::-moz-placeholder { /* Firefox 19+ */
  color: #7F8FA4; font-size: 12px; font-family: "AvenirLTStd-Roman";
}
:-ms-input-placeholder { /* IE 10+ */
  color: #7F8FA4; font-size: 12px; font-family: "AvenirLTStd-Roman";
}
:-moz-placeholder { /* Firefox 18- */
  color: #7F8FA4; font-size: 12px; font-family: "AvenirLTStd-Roman";
}

.date-of-birth > div > div {left: 40px !important;}
