
.search-form-bar {
  white-space: nowrap; width: 100%;
}
  .search-form-bar .pna.icon-search_alt {font-size: 20px !important; top: 2px !important;}

.search-input-form {display: inline;}
  .search-input-form input {
    position: relative; top: 1px; z-index: 2;
    margin: 0 0 0 10px; padding: 0;
    font-size: 24px; line-height: 33px; font-family: 'AvenirLTStd-Roman', sans-serif; font-weight: lighter;
    background: transparent;
    border: none;
    outline: none; width: 100%;
  }

@media (max-width: 1280px) {
  .search-input-form input {
    color: white;
  }
}

.go-back-button {
  position: fixed; top: 43px; right: 50px; z-index: 1999;
  text-align: center;
  cursor: pointer;
  }
  @media (min-width: 1920px) {
    .go-back-button {position: absolute;}
  }
  .go-back-button p {
    margin: 0; padding: 10px 0 0;
    color: #7F8FA4; font-size: 10px; letter-spacing: 1px; line-height: 14px;
    text-transform: uppercase;
  }