.app-drawer {
  transition: width 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .app-drawer:not(.expanded) .primaryLabel {opacity: 0}

  .app-drawer a {display: block !important;}
  .app-drawer a span {background: transparent !important;}
  .app-drawer a svg {fill: #2D3B4C !important;}
  .app-drawer a .primaryLabel {
    font-size: 10px; font-family: 'AvenirLTStd-Heavy', sans-serif; color: #4F596A !important; line-height: 35px;
  }
    .app-drawer:hover a svg {fill: #424B5C !important;}
      .app-drawer:hover a:hover svg {fill: #4F596A !important;}
 
    .app-drawer a.selected svg,
    .app-drawer:hover a.selected svg,
    .app-drawer:hover a.selected:hover svg {fill: #FBDF30 !important;}
    .app-drawer a.selected .primaryLabel,
    .app-drawer:hover a.selected .primaryLabel,
    .app-drawer:hover a.selected:hover .primaryLabel {color: #ffffff !important;}

.sideNav-tooltip .tooltip-container {
  position: fixed;
}
.sideNav-tooltip.tooltip.tooltip-right .tooltip-container {
  top: auto; margin: -45px 0 0 8px; transform: translateY(0);
}

.app-drawer a span span {display: none !important}


.app-drawer-subheader,
.app-drawer-subheader span {background: none !important;}
  .app-drawer-subheader span span {display: none !important;}