.timeline-filters {
  transition: all 100ms ease-in-out;
  background: white;
  }
  .timeline-filters .placeholder {padding: 20px 20px 5px; box-sizing: border-box;}
.timeline-filters.isOpen {background: #1A202A;}
.filters-wrapper {
  display: flex; flex-flow: column wrap; 
  margin: 20px 15px 0;
  height: 140px;
  box-sizing: border-box;
}
.filter-item > div {margin: 0 !important;}

.timelines ul {list-style: none; margin: 0; padding: 0}
  .timelines ul li {position: relative;}
  .timelines ul li:not(:last-child)::before {
    content: '';
    position: absolute; top: 3px; left: 8px; bottom: -23px;
    display: block; width: 1px; background: #BFCCDC;
  }
.timelines h4 {position: relative; z-index: 1; color: #222B3A;}
.timelines h4.period-title {
  margin: 50px 0 35px;
  }
  .timelines h4 .text {
    position: relative; z-index: 5;
    display: inline-block; padding-right: 40px; max-width: 280px;
    font-size: 12px;
    background: white;
  }
  .timelines h4 .line {
    position: absolute; z-index: 1; top: 9px; left: 0; right: 0;
    display: block;
    width: 100%; height: 1px; background-color: #D8D8D8;
  }
.timeline-item {
  position: relative;
  padding-left: 140px;
  margin-bottom: 20px;
  }

.timeline-item .date-time {
  position: absolute; left: 0; top: -5px;
  display: block; width: 140px;
  font-size: 10px; line-height: 25px; text-transform: uppercase;
  }
  @media (max-width: 1280px) {
    .timeline-item {padding-left: 60px;}
    .timeline-item .date-time {width: 60px;}
  }
  .timeline-item .date-time time {display: inline-block; vertical-align: middle; margin-top: 3px;}
.timeline-item .content {
  position: relative;
  padding-left: 40px;
  }
  .timeline-item p {margin-top: 0; font-size: 12px; line-height: 20px; letter-spacing: 0 !important}
  .timeline-item h5 {margin-bottom: 5px; font-size: 12px; font-family: 'AvenirLTStd-Heavy', sans-serif;}
  .timeline-item .content .ico {position: absolute; top: -5px; left: 0; font-size: 20px;}
    .timeline-item .content .ico svg {width: 15px !important;}
  .timeline-item .content .time {
    margin-left: 10px; font-weight: 100; color: #7F8FA4;
    font-family: 'AvenirLTStd-Roman', sans-serif;
  }
    .timeline-item .content .time a {color: #1875F0;}
