.app-bar{
  transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-bar.expanded{
  left: 255px !important;
}

/*main  */
.profileMainInfo {padding-left: 50px; padding-right: 50px;}
.profileMainInfo h3 {
  margin: 0; padding: 0;
  font-size: 16px; font-weight: 900; line-height: 30px; color: #222B3A;
}
.profileMainInfo .secondary-text {font-size: 12px; line-height: 16px; color: #7F8FA4}

.mainMenu-dropdown .notifications svg {width: 19px !important;}

/*level  */
.justifiedContent {
  display: flex !important; 
  flex-direction: row; align-items:  center; justify-content: space-between;
}
  .justifiedContent > * {display: flex;}

/* .level-type {} */
  .level-type .levelTypeLabel {line-height: 24px;}
    .level-type .levelTypeLabel svg {margin-right: 14px; fill: #7F8FA4 !important;}