.active-vs-passive h4 {margin-bottom: 20px; white-space: pre-wrap}
.active-vs-passive .flex-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.active-vs-passive ul {
  list-style: none; margin: 0; padding: 0;
}
.active-vs-passive ul li:not(:last-child) {margin-bottom: 22.5px;}
.active-vs-passive ul p {
  margin: 0; padding: 0; color: #fff;
}
.active-vs-passive ul span.count {margin-bottom: 5px; font-size: 24px; font-family: 'AvenirLTStd-Heavy', sans-serif;}

  .active-vs-passive ul p,
  .active-vs-passive ul span.count {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }