.legend ul {
  list-style: none;
  padding: 0; margin: 0 0 40px;
  }
  .legend ul li {
    font-size: 10px; letter-spacing: 1px; line-height: 24px;
    text-transform: uppercase;
    }
    .legend ul li > * {display: inline-block; vertical-align: middle}
.legend h4 {margin-bottom: 30px;}
