.dashboard-widget {
  color: #FFFFFF; font-size: 12px;
  }
  .dashboard-widget h3 {
    margin: 0;
    font-size: 16px; font-family: 'AvenirLTStd-Heavy', sans-serif; font-weight: 900;
  }
  .dashboard-widget p {
    font-size: 12px; line-height: 16px; color: #7F8FA4;
  }
  .dashboard-widget h5 {
    margin: 35px 0 10px;
    font-size: 12px; line-height: 16px; font-family: 'AvenirLTStd-Heavy', sans-serif;
  }

  .dashboard-widget .stats {
    font-family: 'AvenirLTStd-Heavy', sans-serif; font-size: 20px !important;
  }
    .dashboard-widget .stats .sup {
      top: -4px;
      font-size: 11px !important; color: #FFFFFF !important;
    }
    .dashboard-widget .stats .secondary {
      margin-top: 10px !important;
      font-size: 12px !important; height: auto !important; overflow: visible !important; font-family: 'AvenirLTStd-Roman', sans-serif;
    }
    .dashboard-widget .stats .pna-icon {
      margin: 0 !important; padding: 12px; line-height: 24px; text-align: center;
      border: 1px solid; border-radius: 50%;
      }
      .dashboard-widget .stats .pna-icon:before {
        color: #FFFFFF;
      }

  
  .dashboard-widget .chart-types {}
      .dashboard-widget .chart-types a {
        margin-right: 13px; padding: 7px 3px;
        color: #7F8FA4; font-size: 11px;
        }
        .dashboard-widget .chart-types a.active {color: #FFFFFF}
  
  .dashboard-widget .dropdown-arr {fill: #FBDF30 !important;}

/* .dashboard-widget .dashboard-table td {
} */
