.the-most-active-contact {}
  .the-most-active-contact h4 {margin-bottom: 30px; white-space: pre-wrap}
  .the-most-active-contact figure {text-align: center; margin: 0;}
  .the-most-active-contact h3,
  .dashboard-widget .the-most-active-contact h3 {margin-top: 24px; margin-bottom: 0;}
  .dashboard-widget .the-most-active-contact p {margin: 10px 0 0; color: #FBDF30}