/*General  */
.profile-tabs {position: relative; letter-spacing: 0;}
.profile-tab {background-color: #283443; color: #fff; font-size: 13px; overflow-x: hidden; overflow-y: auto; padding-bottom: 60px;}
  .profile-tab h1 {font-weight: 300; font-size: 20px; margin-top: 15px;}
  h1.vertical-title {
    margin-top: 30px;
    color: #fff; font-weight: normal; font-size: 20px;
    white-space: nowrap;
    transform: rotate(90deg);
  }
  .profile-tab label {text-transform: uppercase; color: #7F8FA4; font-size: 10px}

  .profile-tab .widget {
    position: relative; z-index: 100;
    padding: 10px 20px; margin-bottom: 10px;
    }
  .profile-tab .widget.collapsed {display: none !important;}
    .profile-tab .widget input {
      color: white !important; font-size: 10px !important; font-family: 'AvenirLTStd-Roman', sans-serif !important; font-weight: normal !important; letter-spacing: 0 !important;
      -webkit-text-fill-color: white !important;
      -webkit-tap-highlight-color: white !important;
      /* padding-right: 30px !important; */
      box-sizing: border-box;
      }

/**
* MESSAGES TAB
*/
.messages-toolbar {
  position: absolute; top: 0; bottom: 0; left: 0; z-index: 2;
  width: 50px;
  padding: 20px 0;
  background-color: #DDE1E7; 
}
.messages-content {
  position: absolute; z-index: 1;
  top: 0; left: 50px; right: 0; bottom: 0;
  }
  .messages-list {
    position: absolute; z-index: 2;
    left: 0; top: 0; bottom: 0; width: 33%;
    margin: 0; padding: 0; list-style: none;
    border-right: 1px solid #ECEFF2;
    box-sizing: border-box;
    }
  /* item  */
    .messages-list .item {
      position: relative; z-index: 2;
      padding: 20px 20px 20px 35px;
      border-bottom: 1px solid #ECEFF2;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      }
      /*status bar  */
      .messages-list .item .status-bar {
        position: absolute; top: 17px; left: 0; bottom: 0;
        display: block; width: 35px;
        text-align: center;
        }
        .messages-list .item svg {
          display: block !important;
          margin: 0 auto 20px
        }
      /*body  */
      .messages-list .item .body {width: 85%}
        .messages-list .item h4,
        .messages-list .item h5,
        .messages-list .item p {margin: 0 0 3px 0;}
          .messages-list .item p {
            margin-bottom: 0px;
            font-size: 12px; color: #7F8FA4;
          }
          .messages-list .item h4,
          .messages-list .item h5 {font-size: 14px; font-weight: normal; color: #222B3A;}

      /*time  */
      .messages-list .item time {
        display: block; position: absolute; right: 0; top: 23px; z-index: 3;
        width: 15%; padding-right: 15px;
        color: #7F8FA4; text-align: right; font-size: 10px; 
        white-space: nowrap;
      }
  /*item active  */
    .messages-list .item.active {
      background: #1875F0; color: #fff;
    }
    /* .messages-list .item.active:hover {background: #1875F0} */
      .messages-list .item.active h4,
      .messages-list .item.active h5,
      .messages-list .item.active time {color: #ffffff}
      .messages-list .item.active p {color: rgba(255,255,255,0.5)}

  /*message content  */
  .message {
    position: absolute; z-index: 3;
    left: 33%; right: 0; top: 0; bottom: 0;
    padding: 25px;
    }
    .message header {
      position: relative;
      padding-bottom: 25px; margin-bottom: 50px; 
      border-bottom: 1px solid #ECEFF2;
      }
      .message time {
        position: absolute; top: 1px; right: 0;
        width: 30%;
        color: #7F8FA4; font-size: 10px; text-align: right;
      }
      .message h3 {
        width: 70%;
        margin-bottom: 0; margin-top: 5px;
        color: #222B3A; font-size: 14px; font-weight: normal;
        }
        .message h3 small {
          margin-left: 20px; 
          color: #7F8FA4; font-size: 12px;
        }
    .message .content p {
      font-size: 12px;
    }


/*quill  */
.ql-container.ql-snow {border: none; min-height: 100vh;}
.ql-toolbar.ql-snow {
  position: relative; z-index: 2;
  left: -25px; right: -25px;
  width: calc(100% + 50px);
  border: none; border-bottom: 1px solid #ECEFF2;
  letter-spacing: 0;
}
.note-date-time {
  display: block;
  padding: 0 15px 20xp;
  font-size: 10px; color: #7F8FA4; text-align: center;
}