 /* @import './assets/avenir-font.css';  */
@import './shared/assets/MyFontsWebfontsKit.css';
@import './shared/assets/pna-font.css';

body {
  background-color: #283443; /* #2D3B4C; */
   /* font-family: Roboto, sans-serif !important;  */
     /* font-family: 'Avenir LT 55 Roman', Roboto, sans-serif !important;   */
     font-family: 'AvenirLTStd-Roman' !important; letter-spacing: 1px;
   /* line-height: 1.5;  */
  margin: 0;
  padding: 0;
}

 /* table {font-family: 'Avenir LT 55 Roman', Roboto, sans-serif !important;}  */
  table {font-family: 'AvenirLTStd-Roman', sans-serif !important; font-size: 12px;}  
  table h3 {
    margin-top: 0; margin-bottom: 0; font-size: 12px; line-height: 20px; font-weight: 900; letter-spacing: 0;
  }
  table .avatarItem .secondary-text {font-size: 10px; text-transform: uppercase; color: #7F8FA4; font-weight: 900; margin-left: -3px; letter-spacing: 1px;}

a {text-decoration: none;}
a:-webkit-any-link {text-decoration: none;}
a:-moz-any-link {text-decoration: none;}

::-moz-selection { background: #FBDF30; }
::selection { background: #FBDF30; }

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(127, 143, 164, 0.25); /* #7F8FA4; */
}

::-webkit-scrollbar-track {
  background: transparent;
}


.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/**
* Utils
*/
.d-flex {display: flex}
  .d-flex.space-between {justify-content: space-between}
.text-uppercase {text-transform: uppercase !important;}

.main-placeholder {
  position: relative; z-index: 1;
  padding: 50px; box-sizing: border-box;
  background: white; min-height: calc(100vh - 64px);
  color: #283443;
  }
  @media (max-width: 768px) {
    .main-placeholder {padding-left: 0; padding-right: 0;}
  }
.main-wrap {
  background: white; min-height: calc(100vh - 64px);
  color: #283443;
}
.link-el {cursor: pointer;}
h4.uppercase {
  margin: 0;
  font-weight: 900; text-transform: uppercase;
}

/*quill  */
.ql-container {
  font-family: 'AvenirLTStd-Roman' !important; letter-spacing: 1px;
  }

.secondary-text {color: #7F8FA4; letter-spacing: 0;}
.with-spacing {letter-spacing: 1px !important;}
.no-spacing {letter-spacing: 0 !important;}
.gray-bg {background: #F4F5F6 !important;}
.white-bg {background: #FFFFFF !important;}
.pna-bg {background-image: url('./shared/assets/images/pna-bg.png'); background-size: 100% auto; background-repeat: no-repeat; background-position: top center; background-color: #283443}



/**
* Input fix
*/
/* input {
  border: 1px solid #fff;
} */
  input + div hr {display: none;}
  .pnaTextField {margin-bottom: 20px; font-size: 12px !important;}
  .pnaTextField:hover {border-color: #FFFFFF !important;}
  .pnaTextFieldDark {width: 100% !important; margin-bottom: 30px; font-size: 12px !important}
  .pnaTextFieldDark:hover {border-color: #000 !important;}


     .pnaTextFieldDark div[id^=pna-] div:nth-child(2) {top: -10px !important;}
     .pnaTextFieldDark div[id^=pna-] button,
     .pnaTextFieldDark input[id^=pna-] {top: -6px !important;}
 
/** snackbar */
.pna-Snackbar button {margin-top: 0 !important;}


/** Dialog */
.pna-dialog > div {box-shadow: none !important;}
.pna-dialog div > h3 {
  position: relative;
  padding: 45px 30px !important; margin-bottom: 30px !important;
  font-size: 22px; font-family: 'AvenirLTStd-Heavy', sans-serif; letter-spacing: 0;
  background: #F4F5F6; color: #222B3A !important;
  }
  .pna-dialog div > h3:before {
    content: '';
    position: absolute; bottom: 1px; left: 30px;
    display: block;
    width: 70px; height: 1px;
    background: #1875F0;
  }
   .pna-dialog.warn-dialog div > h3 {background: #f3f5f6; font-size: 13px !important; color: #f25867 !important;} 
   .pna-dialog.warn-dialog div > h3:before{background: #f25867;} 

  .pna-dialog > div > div {padding: 0 30px 30px !important; border: none !important;}

.pna-userData {
  position: relative;
  overflow: visible; clear: both;
  padding: 0 0 30px; margin: 0 0 30px;
  }
  .pna-userData::after {
    content: '';
    position: absolute; left: -30px; right: -30px; bottom: 0;
    width: auto; height: 2px; background: #ECEFF2;
    overflow: hidden; clear: both;
  }

/* tables */
.pna-darkTextRow {color: #222B3A !important; overflow: hidden; border: none !important}
  .pna-darkTextRow td {padding: 0 20px 0 0 !important; background-color: transparent !important;}
  .pna-darkTextRow figure {float: left; margin: 10px 20px 10px 0;}
  .pna-darkTextRow .pnaTextFieldDark {margin-bottom: 0 !important; margin-top: 5px !important;}


button:disabled {background-color: #7F8FA4 !important;}

.icon-field {position: relative; z-index: 1}
  .icon-field svg {position: absolute; top: 7px; left:9px;}
      .icon-field button svg {left: -5px;}
  .icon-field input[type=text] {padding-left: 40px;}

.required {
  position: relative; z-index: 1;
  display: inline-block; vertical-align: top;
  width: 4px; height: 100%;
  }
  .required::before {
    content: '*';
    position: absolute; z-index: 2; top: -2px; left: 0;
    color: #F25967;
  }

/* margins */
  .mr-3 {margin-right: 3em !important;}

  /*typography  */
  .text-oblique {font-family: 'AvenirLTStd-BookOblique', sans-serif; font-weight: 300; letter-spacing: 0px}
    .text-oblique strong {font-family: 'AvenirLTStd-Heavy', sans-serif;}
  .text-blue {color: #1875F0}
  .text-gold {color: #FBDF30;}
  .text-orange {color: #FBC738}
  .text-green {color: rgba(114,158,60,1)}

    /*paragraphs  */
    p,a {font-size: 12px; line-height: 20px;}
    p.p-lg {font-size: 14px; line-height: 26px;}



.pna-tabs > div > button span * {display: none !important; }
.goldHover.pna:hover {color: rgb(251, 223, 48) !important;}
.recompose-cols:hover svg {fill: #FBDF30 !important;}
button span {letter-spacing: 1px !important;}

.pna-icon-btn svg {fill: #BFCCDC !important;}
.pna-icon-btn:hover svg {fill: #FBDF30 !important;}
.pna-icon-btn:hover div {background: transparent !important;}


.filters-reset {
  display: block; margin-bottom: 40px;
  text-align: right;
  font-family: 'AvenirLTStd-Heavy', sans-serif; font-size: 10px; text-transform: uppercase;
  letter-spacing: 1px; color: #1875F0
}
.filters-title {
  font-family: 'AvenirLTStd-Heavy', sans-serif; font-size: 10px; text-transform: uppercase;
  letter-spacing: 1px;
}
.pna-light-dropdown > div > div {height: 37px !important; top: -37px !important; line-height: 37px !important;}
.pna-light-dropdown > div > button {top: -6px !important; right: 10px !important;}