/**
 * @license
 * MyFonts Webfont Build ID 3416592, 2017-07-05T06:36:33-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvenirLTStd-Heavy by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir/85-heavy/
 * 
 * Webfont: AvenirLTStd-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir/55-roman/
 * 
 * Webfont: AvenirLTStd-BookOblique by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir/45-book-oblique/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3416592
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 1989, 1995, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1995, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/342210");

  
@font-face {font-family: 'AvenirLTStd-Heavy';src: url('webfonts/342210_0_0.eot');src: url('webfonts/342210_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/342210_0_0.woff2') format('woff2'),url('webfonts/342210_0_0.woff') format('woff'),url('webfonts/342210_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTStd-Roman';src: url('webfonts/342210_1_0.eot');src: url('webfonts/342210_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/342210_1_0.woff2') format('woff2'),url('webfonts/342210_1_0.woff') format('woff'),url('webfonts/342210_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTStd-BookOblique';src: url('webfonts/342210_2_0.eot');src: url('webfonts/342210_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/342210_2_0.woff2') format('woff2'),url('webfonts/342210_2_0.woff') format('woff'),url('webfonts/342210_2_0.ttf') format('truetype');}
 