@font-face {
  font-family: 'pna';
  src:  url('fonts/pna.eot?76zfmm');
  src:  url('fonts/pna.eot?76zfmm#iefix') format('embedded-opentype'),
    url('fonts/pna.ttf?76zfmm') format('truetype'),
    url('fonts/pna.woff?76zfmm') format('woff'),
    url('fonts/pna.svg?76zfmm#pna') format('svg');
  font-weight: normal;
  font-style: normal;
}

.pna {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pna' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-timeline:before {
  content: "\e919";
}
.icon-Calendar:before {
  content: "\e90a";
}
.icon-add-new-contact:before {
  content: "\e90b";
}
.icon-Add:before {
  content: "\e90c";
}
.icon-Bell:before {
  content: "\e90d";
}
.icon-letter:before {
  content: "\e90e";
}
.icon-Pencil:before {
  content: "\e90f";
}
.icon-Phone:before {
  content: "\e911";
}
.icon-Search:before {
  content: "\e912";
}
.icon-Stats:before {
  content: "\e913";
}
.icon-Time:before {
  content: "\e914";
}
.icon-Trash:before {
  content: "\e915";
}
.icon-add-opportunity-inactive:before {
  content: "\e916";
}
.icon-arrow-menu-down:before {
  content: "\e917";
}
.icon-colapse-up:before {
  content: "\e918";
}
.icon-dashboard-icon-inactive:before {
  content: "\e91a";
}
.icon-deal-status-change-icon:before {
  content: "\e91c";
}
.icon-deals-icon-hover:before {
  content: "\e91d";
}
.icon-expand-down:before {
  content: "\e91f";
}
.icon-expenses-icon-inactive:before {
  content: "\e920";
}
.icon-Favorite-Gray:before {
  content: "\e921";
}
.icon-filter-button-active:before {
  content: "\e923";
}
.icon-funds-received-icon:before {
  content: "\e925";
}
.icon-generic-timeline-record-icon:before {
  content: "\e926";
}
.icon-Grid:before {
  content: "\e927";
}
.icon-investor-verified:before {
  content: "\e928";
}
.icon-invitation-small:before {
  content: "\e929";
}
.icon-messages-icon-inactive:before {
  content: "\e92b";
}
.icon-note-small:before {
  content: "\e92f";
}
.icon-notification-icon:before {
  content: "\e932";
}
.icon-prodigy-associates-logo:before {
  content: "\e933";
}
.icon-projects-icon-inactive:before {
  content: "\e934";
}
.icon-Referrals-icon-inactive:before {
  content: "\e935";
}
.icon-Rows:before {
  content: "\e936";
}
.icon-status-change-icon:before {
  content: "\e93a";
}
.icon-support-icon-inactive:before {
  content: "\e93b";
}
.icon-toolkit-icon-inactive:before {
  content: "\e93c";
}
.icon-money-bulb-icon:before {
  content: "\e908";
}
.icon-people-icon:before {
  content: "\e909";
}
.icon-deal:before {
  content: "\e904";
}
.icon-pendingDollar:before {
  content: "\e905";
}
.icon-roundedDollar:before {
  content: "\e906";
}
.icon-roundedTime:before {
  content: "\e907";
}
.icon-question-mark:before {
  content: "\e903";
}
.icon-commissionsPayable:before {
  content: "\e901";
}
.icon-commissionsPending:before {
  content: "\e902";
}
.icon-commissionsTotal:before {
  content: "\e900";
}
.icon-filter_settings:before {
  content: "\e930";
}
.icon-grid_view:before {
  content: "\e931";
}
.icon-search_alt:before {
  content: "\e92d";
}
.icon-sideNavCollapse:before {
  content: "\e910";
}
.icon-sideNavExpand:before {
  content: "\e92c";
}



.tabIcon.pna.icon-people-icon {font-size: 18px !important;}
.tabIcon.pna.icon-timeline {font-size: 20px !important;}
.tabIcon.pna.icon-messages-icon-inactive {font-size: 22px !important;}
.tabIcon.pan.icon-note-small {font-size: 21px !important;}